{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        metosin/malli {:mvn/version "0.9.2"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.jline/jline-reader {:mvn/version "3.21.0"}}
 :aliases
 {:dev
  {:extra-deps {io.github.weavejester/cljfmt
                {:git/tag "0.12.0"
                 :git/sha "434408f6909924f524c8027b37422d32bb49622d"}}}

  :cljfmt
  {:main-opts ["-m" "cljfmt.main"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "705ad25bbf0228b1c38d0244a36001c2987d7337"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :clj
  {:main-opts ["-m" "cli"]}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
   :ns-default build}

  :uberjar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn hf.depstar/uberjar
   :exec-args {:aot true
               :jar "target/royal-game-of-ur.jar"
               :main-class cli}}

  :native-image
  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                clj.native-image/clj.native-image
                {:git/url "https://github.com/taylorwood/clj.native-image.git"
                 :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}
   :main-opts ["-m" "clj.native-image" "cli"
               "--initialize-at-build-time"
               "-H:+ReportExceptionStackTraces"
               "--no-fallback"
               "--verbose"
               "-O3"
               "-H:Name=royal-game-of-ur"
               "-H:ResourceConfigurationFiles=resource-config.json"
               "-H:ReflectionConfigurationFiles=reflect-config.json"]}}}
